<html>
<head>
  
  <link rel="stylesheet" href="sStyles.css">
</head>

  <body>
    <h3>Sentiments Prediction</h3>
    <div>
      <form action="/result" method="POST">
        <p>Enter your tweet 1 <input type="text" name="Data1" /></p>
        <!-- <p>Enter your tweet 2 <input type="text" name="Data2" /></p>
        <p>Enter your tweet 3 <input type="text" name="Data3" /></p>
        <p>Enter your tweet 4 <input type="text" name="Data4" /></p>
        <p>Enter your tweet 5 <input type="text" name="Data5" /></p> -->


        <p><input type="submit" value="submit" /></p>
        
      </form>
    </div>
  </body>
</html>
